<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TabBarDic</key>
	<dict>
		<key>controllers</key>
		<array>
			<string>HomeViewController</string>
			<string>MeViewController</string>
		</array>
		<key>titles</key>
		<array>
			<string>首页</string>
			<string>我的</string>
		</array>
		<key>positionX</key>
		<array>
			<string>10</string>
			<string>5</string>
			<string>0</string>
			<string>-5</string>
			<string>-10</string>
		</array>
		<key>tabBarSelectedImg</key>
		<array>
			<string>tool_button_home_selected</string>
			<string>tool_button_me_selected</string>
		</array>
		<key>tabBarDefaultImg</key>
		<array>
			<string>tool_button_home_default</string>
			<string>tool_button_me_default</string>
		</array>
	</dict>
	<key>ErrorCode</key>
	<dict>
		<key>0001</key>
		<string>账号不存在</string>
		<key>0004</key>
		<string>登录失败</string>
		<key>0005</key>
		<string>授权失败</string>
		<key>1000</key>
		<string>非法AppId</string>
		<key>1001</key>
		<string>非法code</string>
		<key>1002</key>
		<string>非法token</string>
		<key>2001</key>
		<string>关闭失败，请联系工作人员</string>
	</dict>
	<key>BoxList</key>
	<array>
		<string>平口箱</string>
		<string>自锁底平口箱</string>
		<string>拉链纸箱4.0</string>
		<string>一撕得4.X</string>
		<string>一撕得5.0</string>
		<string>一撕得5.X</string>
		<string>飞机盒</string>
		<string>一撕得飞机盒</string>
		<string>异型箱</string>
		<string>自锁底拉链箱</string>
		<string>扣底平口箱</string>
		<string>扣底拉链箱</string>
	</array>
	<key>QuoteList</key>
	<array>
		<dict>
			<key>sectionTitle</key>
			<string>地区信息</string>
			<key>rowArray</key>
			<array>
				<string>选择大区</string>
			</array>
		</dict>
		<dict>
			<key>sectionTitle</key>
			<string>纸箱信息</string>
			<key>rowArray</key>
			<array>
				<string>年度用量</string>
				<string>开口方向</string>
				<string>口径</string>
				<string>印刷方式</string>
				<string>印刷颜色</string>
				<string>印刷面积</string>
			</array>
		</dict>
		<dict>
			<key>sectionTitle</key>
			<string>配材信息</string>
			<key>rowArray</key>
			<array>
				<string>面纸</string>
				<string>楞纸</string>
				<string>里纸</string>
			</array>
		</dict>
	</array>
	<key>PickerViewList</key>
	<dict>
		<key>年度用量</key>
		<array>
			<string>100万以下</string>
			<string>100-500万</string>
			<string>500万以上</string>
		</array>
		<key>开口方向</key>
		<array>
			<string>最大面</string>
			<string>次小面</string>
			<string>最小面</string>
		</array>
		<key>口径</key>
		<array>
			<string>外径</string>
			<string>内径</string>
		</array>
		<key>印刷方式</key>
		<array>
			<string>胶印</string>
			<string>水印</string>
		</array>
		<key>印刷颜色</key>
		<array>
			<string>无色</string>
			<string>单色</string>
			<string>2-3色</string>
			<string>4-5色</string>
			<string>6-7色</string>
			<string>8-9色</string>
			<string>10色及以上</string>
		</array>
		<key>印刷面积</key>
		<array>
			<string>小面积</string>
			<string>无关</string>
			<string>满版实地</string>
			<string>大面积</string>
		</array>
	</dict>
</dict>
</plist>
