<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TabBarDic</key>
	<dict>
		<key>controllers</key>
		<array>
			<string>HomeViewController</string>
			<string>CategoryListController</string>
			<string>MeViewController</string>
		</array>
		<key>titles</key>
		<array>
			<string>首页</string>
			<string>商品</string>
			<string>我的</string>
		</array>
		<key>positionX</key>
		<array>
			<string>10</string>
			<string>5</string>
			<string>0</string>
			<string>-5</string>
			<string>-10</string>
		</array>
		<key>tabBarSelectedImg</key>
		<array>
			<string>tool_button_home_selected</string>
			<string>tool_button_home_selected</string>
			<string>tool_button_me_selected</string>
		</array>
		<key>tabBarDefaultImg</key>
		<array>
			<string>tool_button_home_default</string>
			<string>tool_button_home_default</string>
			<string>tool_button_me_default</string>
		</array>
	</dict>
	<key>ErrorCode</key>
	<dict>
		<key>0001</key>
		<string>账号不存在</string>
		<key>0004</key>
		<string>登录失败</string>
		<key>0005</key>
		<string>授权失败</string>
		<key>1000</key>
		<string>非法AppId</string>
		<key>1001</key>
		<string>非法code</string>
		<key>1002</key>
		<string>非法token</string>
		<key>2001</key>
		<string>关闭失败，请联系工作人员</string>
	</dict>
	<key>BoxList</key>
	<array>
		<dict>
			<key>boxTitle</key>
			<string>平口箱</string>
			<key>boxId</key>
			<string>402880ea57c68a5f0157c739803500d4</string>
		</dict>
		<dict>
			<key>boxTitle</key>
			<string>自锁底平口箱</string>
			<key>boxId</key>
			<string>402881b45f14cf4f015f153eaa1a0409</string>
		</dict>
		<dict>
			<key>boxTitle</key>
			<string>拉链纸箱4.0</string>
			<key>boxId</key>
			<string>402881b45f14cf4f015f14effff601b6</string>
		</dict>
		<dict>
			<key>boxTitle</key>
			<string>一撕得4.X</string>
			<key>boxId</key>
			<string>402881b45f14cf4f015f14f283de035f</string>
		</dict>
		<dict>
			<key>boxTitle</key>
			<string>一撕得5.0</string>
			<key>boxId</key>
			<string>402881b45f14cf4f015f14f04406020b</string>
		</dict>
		<dict>
			<key>boxTitle</key>
			<string>一撕得5.X</string>
			<key>boxId</key>
			<string>402881b45f14cf4f015f14f0b62e0260</string>
		</dict>
		<dict>
			<key>boxTitle</key>
			<string>飞机盒</string>
			<key>boxId</key>
			<string>402881b45f14cf4f015f14f1febc030a</string>
		</dict>
		<dict>
			<key>boxTitle</key>
			<string>一撕得飞机盒</string>
			<key>boxId</key>
			<string>402881b45f14cf4f015f14f0f98402b5</string>
		</dict>
		<dict>
			<key>boxTitle</key>
			<string>异型箱</string>
			<key>boxId</key>
			<string>4028815d61d0e7a00161d167f447007b</string>
		</dict>
		<dict>
			<key>boxTitle</key>
			<string>自锁底拉链箱</string>
			<key>boxId</key>
			<string>4028810465b2064a0165b391e4090004</string>
		</dict>
		<dict>
			<key>boxTitle</key>
			<string>扣底平口箱</string>
			<key>boxId</key>
			<string>4028810465b2064a0165b3977ec80005</string>
		</dict>
		<dict>
			<key>boxTitle</key>
			<string>扣底拉链箱</string>
			<key>boxId</key>
			<string>4028810465b2064a0165b398033d0006</string>
		</dict>
	</array>
	<key>PickerViewList</key>
	<dict>
		<key>年度用量</key>
		<array>
			<dict>
				<key>pickerViewTitle</key>
				<string>100万以下</string>
				<key>titleId</key>
				<string></string>
			</dict>
			<dict>
				<key>pickerViewTitle</key>
				<string>100-500万</string>
				<key>titleId</key>
				<string></string>
			</dict>
			<dict>
				<key>pickerViewTitle</key>
				<string>500万以上</string>
				<key>titleId</key>
				<string></string>
			</dict>
		</array>
		<key>开口方向</key>
		<array>
			<dict>
				<key>pickerViewTitle</key>
				<string>最大面</string>
				<key>titleId</key>
				<string>123214324</string>
			</dict>
			<dict>
				<key>pickerViewTitle</key>
				<string>次小面</string>
				<key>titleId</key>
				<string>423542532464326</string>
			</dict>
			<dict>
				<key>pickerViewTitle</key>
				<string>最小面</string>
				<key>titleId</key>
				<string>402883f1234vcdfg45645648rt684</string>
			</dict>
		</array>
		<key>口径</key>
		<array>
			<dict>
				<key>pickerViewTitle</key>
				<string>外径</string>
				<key>titleId</key>
				<string>402880ec539eb3e101539eb5346f0001</string>
			</dict>
			<dict>
				<key>pickerViewTitle</key>
				<string>内径</string>
				<key>titleId</key>
				<string>402880ec539eb3e101539eb4e78b0000</string>
			</dict>
		</array>
		<key>印刷方式</key>
		<array>
			<dict>
				<key>pickerViewTitle</key>
				<string>胶印</string>
				<key>titleId</key>
				<string>1</string>
			</dict>
			<dict>
				<key>pickerViewTitle</key>
				<string>水印</string>
				<key>titleId</key>
				<string>2</string>
			</dict>
		</array>
		<key>印刷颜色</key>
		<array>
			<dict>
				<key>pickerViewTitle</key>
				<string>无色</string>
				<key>titleId</key>
				<string>297ebe0e57bce5450157bdcfc7a300f3</string>
			</dict>
			<dict>
				<key>pickerViewTitle</key>
				<string>单色</string>
				<key>titleId</key>
				<string>297ebe0e57bce5450157bdcfee5500f4</string>
			</dict>
			<dict>
				<key>pickerViewTitle</key>
				<string>2-3色</string>
				<key>titleId</key>
				<string>297ebe0e57bce5450157bdd033fa00f5</string>
			</dict>
			<dict>
				<key>pickerViewTitle</key>
				<string>4-5色</string>
				<key>titleId</key>
				<string>297ebe0e57bce5450157bdd0a65c00f6</string>
			</dict>
			<dict>
				<key>pickerViewTitle</key>
				<string>6-7色</string>
				<key>titleId</key>
				<string>297ebe0e57bce5450157bdd1ac9300f7</string>
			</dict>
			<dict>
				<key>pickerViewTitle</key>
				<string>8-9色</string>
				<key>titleId</key>
				<string>297ebe0e57bce5450157bdd2003200f8</string>
			</dict>
			<dict>
				<key>pickerViewTitle</key>
				<string>10色及以上</string>
				<key>titleId</key>
				<string>297ebe0e57bce5450157bdd271e900f9</string>
			</dict>
		</array>
		<key>印刷面积</key>
		<array>
			<dict>
				<key>pickerViewTitle</key>
				<string>小面积</string>
				<key>titleId</key>
				<string>12312321</string>
			</dict>
			<dict>
				<key>pickerViewTitle</key>
				<string>无关</string>
				<key>titleId</key>
				<string>fdsfds</string>
			</dict>
			<dict>
				<key>pickerViewTitle</key>
				<string>满版实地</string>
				<key>titleId</key>
				<string>1231232114G546D1G</string>
			</dict>
			<dict>
				<key>pickerViewTitle</key>
				<string>大面积</string>
				<key>titleId</key>
				<string>1231232113454sadda</string>
			</dict>
		</array>
		<key>波浪胶条</key>
		<array>
			<dict>
				<key>pickerViewTitle</key>
				<string>30MM波浪胶条</string>
				<key>titleId</key>
				<string></string>
			</dict>
			<dict>
				<key>pickerViewTitle</key>
				<string>15MM波浪胶条</string>
				<key>titleId</key>
				<string></string>
			</dict>
		</array>
		<key>工艺</key>
		<array/>
	</dict>
</dict>
</plist>
